
html, body {
  height: 100%;
  cursor: default !important;
}

li {
  list-style: none;
}

#content {
  height: 3000px;
  background: #649173;
  background: -webkit-linear-gradient(30deg, #373B44 , #649173);
  background: linear-gradient(30deg, #373B44 , #649173);
  -webkit-transition: background 3s;
  transition: background 3s;
}

.content-0 {
  background: #135058 !important;
  background: -webkit-linear-gradient(30deg, #649173 , #135058) !important;
  background: linear-gradient(30deg, #649173 , #135058) !important;
}

.content-1 {
  background: #996666 !important;
  background: -webkit-linear-gradient(30deg, #CC9933 , #996666) !important;
  background: linear-gradient(30deg, #CC9933 , #996666) !important;
}

.content-2 {
  background: #666666 !important;
  background: -webkit-linear-gradient(30deg, #D39D38 , #666666) !important;
  background: linear-gradient(30deg, #D39D38 , #666666) !important;
}

#wrapper {
  height: 100%;
  padding: 20px;
  -webkit-transition: filter .3s, -webkit-filter .3s;
  transition: filter .3s, -webkit-filter .3s;
}

#loadingOverlay {
  display: table;
  position: fixed;
  background-color: rgba(0, 0, 0, .1);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10000;
}

.blur-content {
  -webkit-filter: blur(2px);
  filter: blur(2px);
  -webkit-filter: progid\:DXImageTransform\.Microsoft\.Blur(PixelRadius\=2,MakeShadow\=false);
  filter: progid\:DXImageTransform\.Microsoft\.Blur(PixelRadius\=2,MakeShadow\=false);
}

.data-panel {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 240px;
  padding: 10px;
  font-size: 20px;
  z-index: 9999;
  color:white!important;
}

.function-panel {
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  width: 130px;
  padding: 10px;
  font-size: 20px;
  z-index: 9999;
}

.display-panel {
  margin-left: 240px;
  margin-right: 130px;
  width: auto;
  height: 2960px;
  font-size: 20px;
  -webkit-transition: background .3s, opacity .3s, filter .3s, -webkit-filter .3s;
  transition: background .3s, opacity .3s, filter .3s, -webkit-filter .3s;
  z-index: 0;
}

.help-bg {
  background-image: url(../img/help-bg.svg);
  background-repeat: no-repeat;
  background-size: 100%;
}

.drop-target {
  opacity: .7;
  border-radius: 30px;
  -webkit-filter: blur(1px);
  filter: blur(1px);
  -webkit-filter: progid\:DXImageTransform\.Microsoft\.Blur(PixelRadius\=1,MakeShadow\=false);
  filter: progid\:DXImageTransform\.Microsoft\.Blur(PixelRadius\=1,MakeShadow\=false);
}

.function-button, .function-button-nav{
  display: block;
  margin: 10px auto;
  width: 100%;
  cursor: pointer;
  border-color: #fff;
  color: #fff;
}

.function-button :hover, .function-button-nav:hover{
  border-color: #57c5f7;
  color: #57c5f7;
}

.switch-button {
  margin-top: 30px;
  width: 100%;
  font-size: 14px;
  color: #fff;
}

.switch-button:hover {
  color: #57c5f7;
}

.switch-button-overlay .ant-popover-inner-content {
  padding: 0;
}

.switch-button-overlay ul, .switch-button-overlay li {
  border: none;
}

.switch-button-overlay li {
  line-height: 36px;
  height: 36px;
  padding-left: 15px;
}

.switch-button-overlay li>span {
  cursor: pointer;
  transition: color .2s;
  display: inline-block;
}

.switch-button-overlay li>i {
  float: right;
  line-height: 36px;
  margin-right: 10px;
  margin-left: 10px;
}

.switch-button-overlay li>span:hover {
  color: #57c5f7;
}

.switch-button-overlay li[disabled]>span {
  color: #ddd;
  cursor: not-allowed;
}


.data-card, .line-card, .pie-card, .create-obj-card, .upload-card, .create-panel {
  position: absolute;
  box-shadow: 1px 2px 10px rgba(22, 22, 22, 0.5);
  z-index: 100;
  transition: border-radius .3s, box-shadow .3s, filter .3s, -webkit-filter .3s;
}

.main-panel{

  position: absolute;
  width:700px;
  box-shadow: 1px 2px 10px rgba(22, 22, 22, 0.5);
  z-index: 1;
  transition: border-radius .3s, box-shadow .3s, filter .3s, -webkit-filter .3s;

}
.detail-panel {

  position: absolute;
  width:870px;
  box-shadow: 1px 2px 10px rgba(22, 22, 22, 0.5);
  z-index: 1;
  transition: border-radius .3s, box-shadow .3s, filter .3s, -webkit-filter .3s;
 
}

.data-card:hover, .line-card:hover, .pie-card:hover , .create-obj-card:hover, .upload-card:hover, .detail-panel:hover, .create-panel:hover, .edit-panel:hover, .main-panel:hover{
  position: absolute;
  box-shadow: 0px 2px 20px rgba(100, 255, 255, 0.7);
}

.create-obj-card, .upload-card {
  width: 600px;
  cursor: default;
}

.data-card {
  width: auto;
  cursor: default;
}

.line-card {
  width: 502px;
  cursor: default;
}

.line-card {
  
  height: auto;
}

.line {
  width: 500px;
  height: 350px;

}

.line-item {
  width: 500px;
  height: 150px;

}

.pie-card {
  width: auto;
}

.pie-card .ant-card-body {
  display: table;
}

.pie-card .pie {
  display: table-cell;
  height: 300px;
  width: 350px;
  vertical-align: middle;
}

.pie-card .inf-detail {
  display: table-cell;
  padding: 20px 20px 20px 12px;
  line-height: 20px;
  vertical-align: middle;
}

.pie-card ul {
  margin-left: 10px;
}

.tile {
  display: inline-block;
  margin: 5px 10px;
  min-width: 150px;
  width: auto;
  cursor: pointer;
}

.data-block {
  margin: 5px auto;
  padding: 5px 10px;
  cursor: move;
  border-radius: 8px;
  -webkit-transition: background-color .2s;
  transition: background-color .2s;
}

.data-block:hover {
  background-color: rgba(255,255,255,0.3);
}

.course-item ,.data-item, .data-title {
  display: block;
}

.course-item,.data-item {
  margin: 10px;
  padding: 3px 10px;
  border-color: #fff;
  color: #fff;
}


.data-item:hover {
  border-color: #57c5f7;
  color: #57c5f7;
}

.data-title {
  color: #fff;
  font-weight: 600;
  font-size: 20px;
  -webkit-transition: color .2s;
  transition: color .2s;
  text-shadow: 0 0 3px #666;
}

.anticon-cross {
  cursor: pointer;
}

.anticon-cross[disabled] {
  cursor: not-allowed;
}

.ant-table-row:hover {
  cursor: pointer;
}

.config-button {

  border-color: #fff ;
  color: #696969  ;
}

.modal-button {

  border-color: #696969 ;
  color: #696969  ;
}

.config-create-button {

  border-color: #fff;
  color: #696969  ;
}

.config-upload-button {

  border-color: #fff;
  color: #696969  ;
}

.skip-switch {
  width: 80px;
}

.form-item {
  margin-bottom: 0px;
}

.cascade-upload {
  width: 350px
}

#loadingOverlay > .spinner {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  font-size: 10px;
}

#loadingOverlay > .spinner > div {
  background-color: #fff;
  box-shadow: 0 0 3px #666;
  width: 6px;
  height: 40px;
  display: inline-block;

  -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
  animation: sk-stretchdelay 1.2s infinite ease-in-out;
}

#loadingOverlay > .spinner .rect2 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}

#loadingOverlay > .spinner .rect3 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

#loadingOverlay > .spinner .rect4 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

#loadingOverlay > .spinner .rect5 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}

@-webkit-keyframes sk-stretchdelay {
  0%, 40%, 100% { -webkit-transform: scaleY(0.4) }
  20% { -webkit-transform: scaleY(1.0) }
}

@keyframes sk-stretchdelay {
  0%, 40%, 100% {
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
  }  20% {
    transform: scaleY(1.0);
    -webkit-transform: scaleY(1.0);
  }
}


.menu-tile {
  display: inline-block;
  margin: 5px 10px;
  min-width: 150px;
  width: auto;
  cursor: pointer;
}
/*login panel*/
.login{
  padding-top:80px;
  margin:auto;
  width:35%;
}

#km-title{
  color:white;
  text-align: center;
  font-size:30px;
  margin-left:0%;
  margin-bottom: 40px;
}

.login-tab{
  color:white;
}
#login-form{
  margin-left: 25%;
}
.login-label1{
  color:white;

  font-size:20px;
}
.login-label2{
  color:white;

  font-size:12px;
}
.login-label3{
  color:white;
  text-align: right;
  font-size:12px;
}
#login-btn{
  width:100%;
}
/*register*/
.reg-form .ant-form-item-label label{
  color:white;
}
.reg-btn{
  margin-left: 47%;
  margin-bottom: 15px;
  
}

/*create Panel */


.create-panel{
  width:1000px;
}



/*edit panel*/
.edit-panel{
  
  position: absolute;
  width:800px;
  box-shadow: 1px 2px 10px rgba(22, 22, 22, 0.5);
  z-index: 1;
  transition: border-radius .3s, box-shadow .3s, filter .3s, -webkit-filter .3s;
}

.mainstep{
 margin-top:10px;

}
.custom-size{
    text-align: center;
    height: 200px;
    line-height: 200px;
    font-size:30px;
}
.templatecontainer{
display: block;
margin-bottom: 10px;



}
.margin10{
  display: inline-block;
  margin-left: 10px;
  margin-right: 10px;

}
.margin100{
  display: inline-block;
  margin-left: 100px;
  margin-right: 10px;

}
.margin10:hover {
  box-shadow: 1px 2px 10px rgba(22, 22, 22, 0.5);

}

.margin-top10{
  margin-top:10px;
}
.margin-bottom10:{
  margin-bottom:10px;

}
.margin-left10:{
  margin-left:30px;

}
.aligncenter{
  text-align: center;
}

.BackButton{
  display:inline;
}
.strategychart{
  margin-right:30px;
    display: inline-block;
    height:200px;
}
.strategychartcircle{

  display:inline;
  float:right;
  margin-top:100px;
  margin-right: 50px;
}
.progressbar{
  width:500px;  
  margin-right:20px;

}
.ant-advanced-search-form {
  padding: 16px 8px;
  background: #f8f8f8;
  border: 1px solid #d9d9d9;
  border-radius: 6px;
}

/* 由于输入标签长度不确定，所以需要微调使之看上去居中 */
.ant-advanced-search-form > .ant-row {
  position: relative;
  left: -6px;
}

.ant-advanced-search-form .ant-btn + .ant-btn {
  margin-left: 8px;
}
/* end of create Panel */


/*Display panel*/



.textcenter{

text-align: center

}

.helpbgkm
{
  background-image: url(../img/help-bg-km.svg);
  background-repeat: no-repeat;
  background-size: 100%;

  
}

.leftside{
  position:absolute;
  left:0;
  vertical-align: middle;
  top:50%;
 cursor:pointer;
}

.rightside{
  cursor:pointer;
  position:absolute;
  right:0;
  vertical-align: middle;
  top:50%;


}





.tableChart{
  width:700px;
  
}
.bscInfo{
  margin-left: 25px;
}
.strategyPanelLeft{
  margin:auto;
  width:60%;
  display: inline-block;
}
.strategyPanelRight{
  width:40%;
  display: inline-block;
}
.workFlowDetailPanel{
  position: absolute;
  box-shadow: 1px 2px 10px rgba(22, 22, 22, 0.5);
  width:800px;
  height:auto;
  margin:100px 140px 0px 140px;
  z-index: 3;
  transition: border-radius .3s, box-shadow .3s, filter .3s, -webkit-filter .3s;
}


li.placeholder { background: rgb(255,240,120);}
li.placeholder:before {
  content: "Drop here"; color: rgb(225,210,90);
}
ul {
  list-style: none;
  margin:0;
  padding:0
}
li.placeholder {
  padding: 5px;
  background:#eee
}
.inputwidth300
{
  width:300px;
}
.step-card
{
  width:870px;
  box-shadow: 1px 2px 10px rgba(22, 22, 22, 0.5);
  margin-left:auto;
  z-index: 3;
  transition: border-radius .3s, box-shadow .3s, filter .3s, -webkit-filter .3s;
  margin-right: auto;
  margin-left:auto;
  margin-top: 30px;
}
.triangle-down {
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 50px solid #fff;
    margin-right: auto;
    margin-left:auto;
    margin-top: 10px;
}


.change-panel {
  width: auto;
  height: 2960px;
  font-size: 20px;
  -webkit-transition: background .3s, opacity .3s, filter .3s, -webkit-filter .3s;
  transition: background .3s, opacity .3s, filter .3s, -webkit-filter .3s;
  z-index: 0;
}